.modal {
  background-color: whitesmoke;
  position: absolute;
  padding: 2.5vw;
  border-radius: 1vw;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  width: 40vw;
  margin-left: 10vw;
}

.modal-content {
  display: flex;
  flex-direction: column;
}

.modal-content h2 {
  padding: 0;
  margin-top: 0;
  margin-bottom: 3vh;
  font-weight: 500;
  padding-right: 2vw;
  color: #33334d;
}

.modal-content h3 {
  font-weight: 500;
  padding-right: 2vw;
  margin: 1vh;
  color: #6d5c6a;
}

.modal-content p {
  margin: 1vh;
  color: #6d5c6a;
}

.info-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}

.info-column {
  flex: 1;
}

.close {
  align-self: flex-end;
  width: 20px;
  height: 20px;
  font-size: 30px;
  line-height: 13px;
  border-radius: 18px;
  margin-bottom: 3vh;
  cursor: pointer;
  text-align: center;
}

.close:hover {
  background-color: #6d5c6a;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}
